body {
  margin: 0;
  text-align: center;
  font-family: 'Akaya Telivigala', cursive;
}

.circular {
  border-radius: 100%;
  width: 30%;
}

h1 {
  color:#8ac4d0;
  font-size: 5.6rem;
  margin: 50px auto 0 auto;
  font-family: 'Stick', sans-serif;
}

h2 {
  color: #94ebcd;
  font-size: 2.5rem;
  font-family: 'Open Sans Condensed', sans-serif;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-size: 2.5rem;
  font-family: 'Open Sans Condensed', sans-serif;
}

p {
  margin-top: 50px;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 2;
}

a {
  color: #11999E;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  background-color: gold;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 4px;
  width: 4%;
  margin: 100px auto;
}

.top-container {
  background-color: #e4fbff;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  background-color: white;
  margin: 100px 0;
}

.bottom-container {
  background-color: blue;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.clouds-img {
  width: 50%;
  float: left;
  margin-right: 30px;
}

.ibiza-img {
  width: 70%;
  float: right;
  margin-left: 30px;
}

.photo {
  clear: left;
}

.travel {
  clear: right;
}

.pro {
  text-decoration: underline;
  color: #ff005c;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
}

.contact{
  margin: 40px auto 40px;
}

.copy {
font-size: 0.75rem;
padding: 20px 0;
}

.btn {
   background: #3D94F6;
   background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #99C624;
   font-family: Brush Script MT;
   font-size: 30px;
   font-weight: 100;
   padding: 0;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #FFAE00 5px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 13px;
   -moz-border-radius: 13px;
   border-radius: 13px;
   text-decoration: none;
}

.footer-link {
  padding: 50px auto 10px;
}
